%cover-all {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.area-overlay {
  @extend %cover-all;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  &-background {
    @extend %cover-all;

    opacity: 0.75;
    z-index: -1;
  }
}
