.checkbox {
  display: inline-block;
  position: relative;

  input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 1.3em;
    width: 1.3em;

    &:checked {
      & + label {
        .checkbox-icon {
          border-color: $primary;
          background-color: $primary;

          &::after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
          }
        }
        .svg-icon {
          color: $white;
          transform: scale(1);
        }
      }
    }

    &:focus {
      outline: none;

      & + label {
        .checkbox-icon {
          box-shadow: 0 0 5px 1px Highlight;
        }
      }
    }

    &:disabled {
      & + label {
        color: $gray-500;

        .checkbox-icon {
          border-color: $gray-400;
          background-color: $gray-300;

          &::before {
            content: "";
            display: block;
            position: absolute;
            background-color: $gray-400;
            left: -4px;
            top: 50%;
            width: 24px;
            height: 2px;
            transform: translateY(-50%) rotate(45deg);
          }
        }
      }
    }

    &:disabled:checked {
      & + label {
        .checkbox-icon {
          background-color: $gray-300;
        }
        .svg-icon {
          color: $gray-400;
        }
      }
    }
  }

  .checkbox-label {
    display: inline-flex;
    align-items: center;
    transition: 0.3s;
  }

  .checkbox-icon {
    display: inline-block;
    background-color: $white;
    border: 2px solid rgba($black, 0.5);
    margin-right: 0.25em;
    padding: 2px;
    transition: 0.3s;
    line-height: 0;
    position: relative;
    width: 20px;
    height: 20px;
    color: transparent;

    .svg-icon {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transition: 0.3s;
      transform: scale(0);
    }
  }
}
