.countdown-wrapper {
  margin: 20px 0;
}

.countdown {
  margin-left: auto;
  margin-right: auto;
  grid-template-rows: repeat(2, 130px);
  grid-template-columns: repeat(2, 130px);
  justify-items: center;
  justify-content: center;

  @include media-breakpoint-up(xs) {
    width: 260px;
  }

  @include media-breakpoint-up(sm) {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .countdown__dimension {
    display: inline-block;
  }

  .figures {
    margin: 0.7rem;
    width: 95px;
    height: 95px;
    background-image: url(#{$freyja-asset-path}/svg/shapes/square-like.svg);
    color: $black;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
      font-size: 14px;
      font-family: "Noto Sans", sans-serif;
      text-transform: uppercase;
      font-weight: bold;
      margin-top: 5px;
    }
  }

  .figure {
    position: relative;
    float: left;
    font-size: 40px;
    line-height: 40px;
    text-shadow: 0 3px 0 $white;
    text-align: center;
    margin-right: 2px;
    background: transparent;
    display: inline-block;

    &:last-child {
      margin-right: 0;
    }
  }
}

.countdown--black {
  .figures {
    background-image: url(#{$freyja-asset-path}/svg/shapes/square-like-black.svg);
  }
}

.countdown--small {
  .figures {
    margin: 0.1rem;
    width: 50px;
    height: 50px;

    .title {
      margin-top: 0px;
    }
  }

  .figure {
    font-size: 20px;
    line-height: 25px;
    margin-right: 0px;
    text-shadow: none;
  }
}