$label-color: $scorpion;

.form-group {
  &.has-error {
    .help-block {
      color: $danger;
    }
  }
}

.form-control {
  font-size: 14px;
  height: 36px;
  padding: 8px;
  border-color: $senary-supportive;
  &:focus {
    @media (forced-colors: active) {
      outline: 5px auto -webkit-focus-ring-color;
    }
  }
}

.form-control-plaintext {
  width: 100%;
  display: block;
}

.required:after {
  content: " *";
  color: $red;
}

label {
  color: $label-color;
  font-size: 14px;
  margin-bottom: 0;
}

select {
  font-size: 16px;
}
