.svg-logo {
  overflow: unset !important;

  use {
    fill: currentColor;
  }
}
.java-edition-image{
  position: absolute;
  left: 6.44%;
  right: 6%;
  top: -6.83%;
  bottom: 90.58%;
}
.migration-header{
  font-size: 20px;
}