// Flicker
@keyframes flicker-opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// Floating
@keyframes floating-vertical {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translate3d(0, -10px, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes floating-circular {
  from {
    transform: rotate(0deg) translateX(5px) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translateX(5px) rotate(-360deg);
  }
}

// Bounce
@keyframes bounce-right {
  0%,
  5%,
  35%,
  60%,
  100% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(-100%, 0);
  }

  45% {
    transform: translate(-75%, 0);
  }
}

@keyframes bounce-left {
  0%,
  5%,
  35%,
  60%,
  100% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(100%, 0);
  }

  45% {
    transform: translate(75%, 0);
  }
}

@keyframes bounce-down {
  0%,
  5%,
  35%,
  60%,
  100% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-8px);
  }

  45% {
    transform: translateY(-4px);
  }
}

@keyframes bounce-up {
  0%,
  5%,
  35%,
  60%,
  100% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(8px);
  }

  45% {
    transform: translateY(4px);
  }
}

// Drop series
@keyframes drop2 {
  0% {
    transform: translateY(-50px);
  }

  25%,
  100% {
    transform: translate(0);
  }
}

@keyframes drop3 {
  0% {
    transform: translateY(-50px);
  }

  50%,
  100% {
    transform: translate(0);
  }
}

@keyframes drop4 {
  0% {
    transform: translateY(-50px);
  }

  75%,
  100% {
    transform: translate(0);
  }
}

// Scale
@keyframes scale-in-out {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.03);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes scale-0-to-1 {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes pop {
  0%,
  90% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.5);
  }
}

// Rotate
@keyframes rotate-45 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(45deg);
  }
}

@keyframes counter-digit-animation {
  0% {
    transform: translateY(-91%);
  }

  100% {
    transform: translateY(0%);
  }
}
