// Primary colors
$primary: $fun-green;

$primary-supportive: $fun-green-supportive;

$primary-hover: $soil;

// Secondary colors
$secondary: $gravel;
$secondary-supportive: $tundora;

// Tertiary colors
$tertiary: $malachite;
$tertiary-supportive: $malachite-supportive;

// Quaternary colors
$quaternary: $mud;
$quaternary-supportive: $mud-supportive;

// Quinary colors
$quinary: $dirt;
$quinary-supportive: $dirt-supportive;

// Senary colors
$senary: $soil;
$senary-supportive: $soil-supportive;

// Dungeons primary colors
$dungeons-primary: map-get($dungeons-colors, "orange");

// Dungeons secondary colors
$dungeons-secondary: map-get($dungeons-colors, "eucalyptus");
$dungeons-tertiary: map-get($dungeons-colors, "golden-tainoi");

$default-shadow: 0 2px 0 rgba($black, 0.25);
$default-box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.15);

$gray-100: $hint-of-red;
$gray-200: $ebb;
$gray-300: $cloud;
$gray-400: $dusty-gray;
$gray-500: $boulder;
$gray-600: $scorpion;
$gray-700: $tundora;
$gray-800: $soil;
$gray-900: $shark;

$theme-colors: (
  "primary":      $primary,
  "secondary":    $secondary,
  "tertiary":     $tertiary,
  "quaternary":   $quaternary,
  "quinary":      $quinary,
  "senary":       $senary,
);

$theme-colors-supportive: (
  "primary-supportive":      $primary-supportive,
  "secondary-supportive":    $secondary-supportive,
  "tertiary-supportive":     $tertiary-supportive,
  "quaternary-supportive":   $quaternary-supportive,
  "quinary-supportive":      $quinary-supportive,
  "senary-supportive":       $senary-supportive,
);

$dungeons-theme-colors: (
  "dungeons-primary": $dungeons-primary,
  "dungeons-secondary": $dungeons-secondary,
  "dungeons-tertiary": $dungeons-tertiary,

);

$gradients: (); // Returns a gradient value for use in sass. e.g. map-get($gradients, "secondary")

$danger: $orange;
$info: $light-blue;
